<p></p>
<div style="padding: 20px">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./hogares">Hogares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./empresas">Empresas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./productos">Productos</a>
    </li>

  </ul>
</div>
<router-outlet></router-outlet>